.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.title {
    font-family: 'Elsie';
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 45px;
    line-height: 81px;
    text-align: center;
    color: #27282C;
    margin: 5px;
}

