.homeContainer{
    background-color: white;
}
.section{
    display: flex;
    padding-top: 2rem;
    padding-bottom: 2rem;
    flex-direction: column;
    align-items: center;
}
.sectionTitle{
    padding-bottom: 1rem;
}

.FaqContainer {
    display: flex;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: space-around;
    background-image: url('./logo/background-vector.svg');
}

.planSection{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;

}

.planSection h2{
    margin-bottom: 1rem;
}

.planSection p{
    margin-bottom: 3rem;
}
