.ProductsContainer{
  padding: 2rem;
  margin: 2rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap; /* Ensures the cards are in a single row */

}

.productContainer {
  display: flex;
  justify-content: center; /* Centers the product cards horizontally */
  align-items: center;
  gap: 24px; /* Space between the cards */
  flex-wrap: wrap; /* Ensures the cards are in a single row */
}

.products {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.card {
  width: 300px; /* Adjusted for uniformity */
  height: 350px; /* Adjusted to match image */
  border-radius: 8px;
  background-color: #A5AE86; /* Match the color in the screenshot */
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.imageContainer {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;

}

.addToCart {
  opacity: 0;
  display: flex;
  font-family: 'Poppins';
  color: white;
  border-radius: 50%;
  height: 12rem;
  width: 12rem;
  background: #C1A78C;
  cursor: pointer;
  justify-content: center;
  align-items: center;
}
.btnContainer{
  padding: 2rem;
  margin: 2rem;
  display: flex;
  justify-content: center;
}
.btnText{
  font-size: 1.5rem;
}

.btn{
  line-height: 2rem;
  letter-spacing: 2px;
  width: 10rem;
  height: 3rem;
}

.btn:hover{
  background-color: rgb(85, 84, 84);
  color: rgb(255, 255, 255);
}
.price {
  color: rgb(120, 120, 120);
  font-family: 'Poppins';
  font-size: 12px;
  font-weight: normal;
  margin-top: 12px;
}

.name {
  color: rgb(85, 85, 85);

  font-family: 'Elsie';
  font-size: 2rem;
  margin: 4px 0;
}


.imageContainer:hover{
  .addToCart{
    opacity: 100%;
    transition-duration: 0.5s;
  }
} 

@media screen and (max-width: 768px) {
  .ProductsContainer{
    padding: 1rem;
    margin: 1rem;
  }
}


@media screen and (max-width: 448px) {
  .ProductsContainer{
    padding: 0.5rem;
    margin: 0.5rem;
  }
}