body {
    margin: 0%;
}

h1 {
    font-family: 'Elsie';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 81px;
    text-align: center;
    color: #27282C;
}

p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
    color: #27282C;
    margin-top: 0.5rem;
}

button {
    display: flex;
    cursor: pointer;
    color: #27282C;
    align-items: center;
    border-radius: 9999px;
    font-family: 'Poppins';
    letter-spacing: 0.1rem;
    padding: 0.75rem 1.5rem;
    border: 1px solid #27282C;
    background-color: transparent;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #000;
    color: #fff;
}