/* VerticalSlider.module.css */

.sliderContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 400px;
  position: relative;
  overflow: hidden;
  background-color: #d4cbc2;
}

.slider {
  width: 100%;
  height: 100%;
  position: relative; /* For stacking slides on top of each other */
}

.slide {
  position: absolute; /* Each slide is positioned absolutely */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
  transform: translateY(100%); /* Start below the view by default */
  opacity: 0; /* Start hidden */
}

.active {
  transform: translateY(0); /* Active slide is in view */
  opacity: 1;
}

.controls {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.controlButton {
  margin: 5px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .sliderContainer {
    width: 100%;
    height: 300px;
  }
}
